fieldset {
	width: 300px;
	margin: 25px 0 0 0px;
	border: 1px solid #999999;
	box-shadow: 1px 1px #cccccc;
	padding: 10px;
}

label {
	float: left;
	width: 140px;
	display: block;
	clear: left;
	text-align: right;
	padding-right: 10px;
	margin-top: 10px;
}

/* button {
	font-family: "Spartan";
	font-weight: bolder;
	src: url("Spartan-VariableFont_wght.ttf");
	src: url("spartan-variablefont_wght-webfont.woff") format("woff");
	margin-left: 175px;
	background-color: #cccccc;
	border: none;
	color: black;
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-top: 10px;
	border-radius: 10px;
}  */

.wrapper {
    font-family: 'Spartan';
    padding: 00px 0;
		font-size: 1.2em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
}

input {
	margin-top: 10px;
	display: block;
	text-align: right;
	width: 128px;
}

#next {
	font-family: "Spartan";
	font-weight: bolder;
	src: url("Spartan-VariableFont_wght.ttf");
	src: url("spartan-variablefont_wght-webfont.woff") format("woff");
}

#bmi_label {
	width: 200px;
}

#bmi {
	width: 66px;
    
}

#intro {
	width: 300px;
	margin: 10px 0 0 0px;
	padding: 10px;
	border: 1px solid #999999;
	box-shadow: 1px 1px #cccccc;
    text-align: center;
}