

fieldset {
	width: 300px;
	margin: 25px 0 0 0px;
	border: 1px solid #999999;
	box-shadow: 1px 1px #cccccc;
	padding: 10px;
}

.wrapper {
    font-family: 'Spartan';
    padding: 50px 0;
		font-size: 1.2em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
}

input {
	margin-top: 10px;
	display: block;
	text-align: right;
	/* width: 128px; */
}

#intro {
	width: 300px;
	margin: 25px 0 0 0px;
	padding: 10px;
	border: 1px solid #999999;
    box-shadow: 1px 1px #cccccc;
    font-size: 800;
    font-style: bold;
    text-align: center;
}